{% extends 'base.html' %}
{%load staticfiles %}
{% block title %}
Quizzer|Change Password
{% endblock %}

{% block content%}
<div class="container p-5">
<div class="card">
  <div class="card-header">
    Told anyone your password?
  </div>
  <div class="card-body">
    <p class="card-text">Don't worry. We've got you covered.</p>
    <div class="container p-3">
  <h3>Change password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
  </form>
 </div>
</div>
</div>
</div>

{% endblock %}