{% autoescape off %}

hello {{ user.get_username }}!
if you want to recover the password of your hack36 Quizzer Account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

if you did not make the request for password recovery, do not worry! Your data is secure 
with us as long as the password of your email account is secure.

Regards,
Team Binary Compatible,
Hack36 2019.
{% endautoescape %}